.summary-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.rs-para {
  font-family: 'roboto';
  font-size: 22px;
  color: green;
  font-weight: 500;
  margin-bottom: 1px;
}
.items-para {
  margin-top: 0px;
  color: black;
  font-family: 'roboto';
  font-size: 15px;
}
.rupees-cart{
  color: black;
  font-family: "roboto";
  font-weight: bolder;
  font-size: 25px;
}
.checkout-btn {
  background-color: #0b69ff;
  color: white;
  font-family: 'roboto';
  font-size: 15px;
  width: 200px;
  border-width: 0px;
  border-radius: 5px;
  height: 40px;
}
